openai
transformers
datasets
accelerate
peft
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
PyYAML
tqdm
pymupdf
distilabel
bitsandbytes
scipy
trl<0.9.0 # Pin TRL to ensure compatibility with Unsloth
xformers # Recommended for speed on Colab
