openai
transformers
datasets
accelerate
peft
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
PyYAML
tqdm
pymupdf
distilabel
pydantic
bitsandbytes
scipy
psutil  # Required by Unsloth's SFTTrainer
trl # Unsloth manages this dependency
xformers # Recommended for speed on Colab
